html {
    height:100vh;
}

body {
    background-image: url(images/golf-1.jpg);
    height:100vh;
}

.navbar {
    display: flex;
    justify-content: center;
    background: greenyellow;
}

.player-div {
    background: greenyellow;
    height:100vh;
    margin: 2px;
}